.puzzle__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);  
    grid-template-rows: repeat(4, 1fr);     
    gap: 20px;                              
    width: calc(100vw - 20px);               
    height: calc(100vh - 20px);              
    padding: 10px;                          
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    position: relative;
    z-index: 5;
    background: linear-gradient(to center, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 60%) no-repeat center; /* Same gradient effect for fade-in */
    transition: opacity 3s ease, visibility 3s ease;
}

.puzzle__grid.fade-in, .puzzle__overlay.fade-in {
    opacity: 1;
    visibility: visible;
    background: linear-gradient(to center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 60%); /* Reverse gradient for fade-in */
  }

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;         
    height: 100%;        
    box-sizing: border-box; 
    background-image: url('/images/puzzle.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background: linear-gradient(to center, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}

.card.flipped {
    transform: rotateY(180deg);
    background-color: transparent; 
    color: transparent;
}

.card.matched {
    background-color: #4CAF50; 
    cursor: default;
}

.card.zoom-out {
    transform: scale(0.1);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.card.hidden {
    pointer-events: none; 
    visibility: hidden;
}

.puzzle__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(8px); 
    z-index: 1;
    opacity: 0;
    background: linear-gradient(to center, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 60%) no-repeat center;
    transition: opacity 1.5s ease, visibility 1.5s ease, filter 1.5s ease;
}

.clear-background {
    filter: blur(0px); 
}

.show-background {
    opacity: 1;
}


@media screen and (max-width: 430px) {
    .puzzle__grid {
      grid-template-columns: repeat(3, 1fr);  /* Adjust grid to fit smaller screen */
      grid-template-rows: repeat(3, 1fr); 
      gap: 10px;
      padding: 5px;
      height: auto;
    }
  
    .card {
      font-size: 1rem;  /* Smaller font for cards */
      padding: 15px;
      background-size: contain;
    }
  
    .heat-mirage {
      height: 100px; /* Smaller heat-mirage for smaller screens */
    }
  }